Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

# MySQL Exercise 5: Summaries of Groups of Data

So far you've learned how to select, reformat, manipulate, order, and summarize data from a single table in database.  In this lesson, you are going to learn how to summarize multiple subsets of your data in the same query.  The method for doing this is to include a "GROUP BY" clause in your SQL query.  
  
    

## The GROUP BY clause

The GROUP BY clause comes after the WHERE clause, but before ORDER BY or LIMIT:

<img src="https://duke.box.com/shared/static/lc0yjfz1339q3mc04ne13m2q5tkzy3x7.jpg" width=400 alt="SELECT FROM WHERE ORDER BY" />

The GROUP BY clause is easy to incorporate into your queries.  In fact, it might be a little too easy to incorporate into MySQL queries, because it can be used incorrectly in MySQL queries even when no error message is displayed.  As a consequence, I suggest you adopt a healthy dose of caution every time you use the GROUP BY clause.  By the end of this lesson, you will understand why.  When used correctly, though, GROUP BY is one of the most useful and efficient parts of an SQL query, and once you are comfortable using it, you will use it very frequently.

**To get started, load the SQL library and the Dognition database, and set the dognition database as the default:**

In [3]:
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/dognitiondb
%sql USE dognitiondb

 * mysql://studentuser:***@localhost/dognitiondb
0 rows affected.

[]

Let's return to a question from MySQL Exercise 4.  How would you query the average rating for each of the 40 tests in the Reviews table? As we discussed, one very inefficient method to do that would be to write 40 separate queries with each one having a different test name in the WHERE conditional clause.  Then you could copy or transcribe the results from all 40 queries into one place.  But that wouldn't be very pleasant.  Here's how you could do the same thing using one query that has a GROUP BY clause:

```mySQL
SELECT test_name, AVG(rating) AS AVG_Rating
FROM reviews
GROUP BY test_name
```

This query will output the average rating for each test.  More technically, this query will instruct MySQL to average all the rows that have the same value in the test_name column.

Notice that I included test_name in the SELECT statement.  As a strong rule of thumb, if you are grouping by a column, you should also include that column in the SELECT statement.  If you don't do this, you won't know to which group each row of your output corresponds.  
     
**To see what I mean, try the query above without test_name included in the SELECT statement:**

In [5]:
%%sql
SELECT AVG(rating) AS avg_rating
FROM reviews
GROUP BY test_name LIMIT 3;

 * mysql://studentuser:***@localhost/dognitiondb
3 rows affected.

[(Decimal('3.9206'),), (Decimal('4.2857'),), (Decimal('3.9272'),)]

You can form groups using derived values as well as original columns.  To illustrate this, let's address another question: how many tests were completed during each month of the year?

To answer this question, we need to take advantage of another datetime function described in the website below:

http://www.w3resource.com/mysql/date-and-time-functions/date-and-time-functions.php

MONTH() will return a number representing the month of a date entry. To get the total number of tests completed each month, you could put the MONTH function into the GROUP BY clause, in this case through an alias:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY Month;
```

You can also group by multiple columns or derived fields.  If we wanted to determine the total number of each type of test completed each month, you could include both "test_name" and the derived "Month" field in the GROUP BY clause, separated by a comma.

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY test_name, Month;
```

MySQL allows you to use aliases in a GROUP BY clause, but some database systems do not.  If you are using a database system that does NOT accept aliases in GROUP BY clauses, you can still group by derived fields, but you have to duplicate the calculation for the derived field in the GROUP BY clause in addition to including the derived field in the SELECT clause:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY test_name, MONTH(created_at);
```  
  
Try the query once with test_name first in the GROUP BY list, and once with Month first in the GROUP BY list below.  Inspect the outputs:

In [9]:
%%sql
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY Month, test_name LIMIT 5;

 * mysql://studentuser:***@localhost/dognitiondb
5 rows affected.

[('1 vs 1 Game', 1, 25),
 ('3 vs 1 Game', 1, 35),
 ('5 vs 1 Game', 1, 59),
 ('Arm Pointing', 1, 622),
 ('Cover Your Eyes', 1, 452)]

In [10]:
%%sql
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY test_name, Month LIMIT 5;

 * mysql://studentuser:***@localhost/dognitiondb
5 rows affected.

[('1 vs 1 Game', 1, 25),
 ('1 vs 1 Game', 2, 28),
 ('1 vs 1 Game', 3, 22),
 ('1 vs 1 Game', 4, 12),
 ('1 vs 1 Game', 5, 13)]

Notice that in the first case, the first block of rows share the same test_name, but are broken up into separate months (for those of you who took the "Data Visualization and Communication with Tableau" course of this specialization, this is similar to what would happen if you put test_name first and created_at second on the rows or columns shelf in Tableau).  

In the second case, the first block of rows share the same month, but are broken up into separate tests  (this is similar to what would happen if you put created_at first and test_name second on the rows or columns shelf in Tableau).  If you were to visualize these outputs, they would look like the charts below.

<img src="https://duke.box.com/shared/static/y6l3ldxg289brid5mmn886qweglt65qv.jpg" width=800 alt="ORDER" />

Different database servers might default to ordering the outputs in a certain way, but you shouldn't rely on that being the case.  To ensure the output is ordered in a way you intend, add an ORDER BY clause to your grouped query using the syntax you already know and have practiced:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY test_name, Month
ORDER BY test_name ASC, Month ASC;
```

**Question 1: Output a table that calculates the number of distinct female and male dogs in each breed group of the Dogs table, sorted by the total number of dogs in descending order (the sex/breed_group pair with the greatest number of dogs should have 8466 unique Dog_Guids):**

In [30]:
%%sql
SELECT COUNT(DISTINCT dog_guid) as num_dogs, breed_group, SUM(gender = 'female') as Female, SUM(gender = 'male') as Male 
FROM dogs
group by breed_group
ORDER BY num_dogs DESC;

SELECT COUNT(DISTINCT dog_guid) as num_dogs, breed_group, gender
FROM dogs
group by gender, breed_group
ORDER BY num_dogs DESC;

 * mysql://studentuser:***@localhost/dognitiondb
9 rows affected.
18 rows affected.

[(8466, None, 'male'),
 (8367, None, 'female'),
 (2584, 'Sporting', 'male'),
 (2262, 'Sporting', 'female'),
 (1736, 'Herding', 'male'),
 (1704, 'Herding', 'female'),
 (1473, 'Toy', 'male'),
 (1145, 'Toy', 'female'),
 (1098, 'Non-Sporting', 'male'),
 (1075, 'Working', 'male'),
 (919, 'Non-Sporting', 'female'),
 (919, 'Terrier', 'male'),
 (895, 'Working', 'female'),
 (794, 'Terrier', 'female'),
 (725, 'Hound', 'male'),
 (614, 'Hound', 'female'),
 (147, '', 'male'),
 (127, '', 'female')]

Some database servers, including MySQL, allow you to use numbers in place of field names in the GROUP BY or ORDER BY fields to reduce the overall length of the queries.  I tend to avoid this abbreviated method of writing queries because I find it challenging to troubleshoot when you are writing complicated queries with many fields, but it does allow you to write queries faster.  To use this method, assign each field in your SELECT statement a number acording to the order the field appears in the SELECT statement.  In the following statement:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
```

test_name would be #1, Month would be #2, and Num_Completed_Tests would be #3.  You could then rewrite the query above to read:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
GROUP BY 1, 2
ORDER BY 1 ASC, 2 ASC;
```

**Question 2: Revise the query your wrote in Question 1 so that it uses only numbers in the GROUP BY and ORDER BY fields.**

In [4]:
%%sql
SELECT COUNT(DISTINCT dog_guid) as num_dogs, breed_group, gender
FROM dogs
group by 2, 3
ORDER BY 1 DESC;

 * mysql://studentuser:***@localhost/dognitiondb
18 rows affected.

[(8466, None, 'male'),
 (8367, None, 'female'),
 (2584, 'Sporting', 'male'),
 (2262, 'Sporting', 'female'),
 (1736, 'Herding', 'male'),
 (1704, 'Herding', 'female'),
 (1473, 'Toy', 'male'),
 (1145, 'Toy', 'female'),
 (1098, 'Non-Sporting', 'male'),
 (1075, 'Working', 'male'),
 (919, 'Non-Sporting', 'female'),
 (919, 'Terrier', 'male'),
 (895, 'Working', 'female'),
 (794, 'Terrier', 'female'),
 (725, 'Hound', 'male'),
 (614, 'Hound', 'female'),
 (147, '', 'male'),
 (127, '', 'female')]

## The HAVING clause

Just like you can query subsets of rows using the WHERE clause, you can query subsets of aggregated groups using the HAVING clause.  However, wheras the expression that follows a WHERE clause has to be applicable to each row of data in a column, the expression that follows a HAVING clause has to be applicable or computable using a group of data.  

If you wanted to examine the number of tests completed only during the winter holiday months of November and December, you would need to use a WHERE clause, because the month a test was completed in is recorded in each row.  Your query might look like this:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
WHERE MONTH(created_at)=11 OR MONTH(created_at)=12
GROUP BY 1, 2
ORDER BY 3 DESC;
```
If you then wanted to output only the test-month pairs that had at least 20 records in them, you would add a HAVING clause, because the stipulation of at least 20 records only makes sense and is only computable at the aggregated group level:

```mySQL
SELECT test_name, MONTH(created_at) AS Month, COUNT(created_at) AS Num_Completed_Tests
FROM complete_tests
WHERE MONTH(created_at)=11 OR MONTH(created_at)=12
GROUP BY 1, 2
HAVING COUNT(created_at)>=20
ORDER BY 3 DESC;
```

**Question 3: Revise the query your wrote in Question 2 so that it (1) excludes the NULL and empty string entries in the breed_group field, and (2) excludes any groups that don't have at least 1,000 distinct Dog_Guids in them.  Your result should contain 8 rows.  (HINT: sometimes empty strings are registered as non-NULL values.  You might want to include the following line somewhere in your query to exclude these values as well):**

```mySQL
breed_group!=""
```

In [20]:
%%sql
SELECT COUNT(DISTINCT dog_guid) as num_dogs, breed_group, gender
FROM dogs
GROUP BY 2, 3
HAVING breed_group!="" AND num_dogs >= 1000
ORDER BY 1 DESC;

 * mysql://studentuser:***@localhost/dognitiondb
8 rows affected.

[(2584, 'Sporting', 'male'),
 (2262, 'Sporting', 'female'),
 (1736, 'Herding', 'male'),
 (1704, 'Herding', 'female'),
 (1473, 'Toy', 'male'),
 (1145, 'Toy', 'female'),
 (1098, 'Non-Sporting', 'male'),
 (1075, 'Working', 'male')]

We will review several issues that can be tricky about using GROUP BY in your queries in the next lesson, but those issues will make more sense once you are sure you are comfortable with the basic functionality of the GROUP BY and HAVING clauses.  
   
      

## Practice incorporating GROUP BY and HAVING into your own queries.

**Question 4: Write a query that outputs the average number of tests completed and average mean inter-test-interval for every breed type, sorted by the average number of completed tests in descending order (popular hybrid should be the first row in your output).**

In [31]:
%%sql
SELECT breed_type, AVG(total_tests_completed) as avg_tests, AVG(mean_iti_days)
FROM dogs 
GROUP BY breed_type 
ORDER BY 2 DESC LIMIT 10;

 * mysql://studentuser:***@localhost/dognitiondb
4 rows affected.

[('Popular Hybrid', 10.257530120481928, 1.9682781756219017),
 ('Cross Breed', 9.945900537634408, 1.994688302855342),
 ('Pure Breed', 9.871602824737856, 2.2176045095807226),
 ("Mixed Breed/ Other/ I Don't Know", 9.54250850170034, 2.0993549515344747)]

**Question 5: Write a query that outputs the average amount of time it took customers to complete each type of test where any individual reaction times over 6000 hours are excluded and only average reaction times that are greater than 0 seconds are included (your output should end up with 67 rows).**

In [50]:
%%sql
SELECT test_name, AVG(TIMESTAMPDIFF(HOUR,start_time,end_time)) as avg_duration
FROM exam_answers
WHERE TIMESTAMPDIFF(MINUTE,start_time,end_time) <= 6000
GROUP BY test_name
HAVING AVG(TIMESTAMPDIFF(MINUTE,start_time,end_time)) > 0
ORDER BY 2 DESC LIMIT 10;

 * mysql://studentuser:***@localhost/dognitiondb
10 rows affected.

[('Social-Quiz', Decimal('2.3382')),
 ('Social', Decimal('0.7465')),
 ('Diet', Decimal('0.6735')),
 ('Yawn Warm-up', Decimal('0.5921')),
 ('Activity', Decimal('0.5096')),
 ('Sociability', Decimal('0.3241')),
 ('Watching', Decimal('0.2822')),
 ('Set 3', Decimal('0.2641')),
 ('Surprise And Delight', Decimal('0.2592')),
 ('Confinement', Decimal('0.1757'))]

**Question 6: Write a query that outputs the total number of unique User_Guids in each combination of State and ZIP code (postal code) in the United States, sorted first by state name in ascending alphabetical order, and second by total number of unique User_Guids in descending order (your first state should be AE and there should be 5043 rows in total in your output).**

In [55]:
%%sql
SELECT user_guid, state, zip as postal_code
FROM users
WHERE country = 'US'
GROUP BY state, zip
ORDER BY state ASC LIMIT 10;

 * mysql://studentuser:***@localhost/dognitiondb
10 rows affected.

[('ce70836e-7144-11e5-ba71-058fbc01cf0b', 'AE', '9053'),
 ('ce7587ba-7144-11e5-ba71-058fbc01cf0b', 'AE', '9107'),
 ('ce138312-7144-11e5-ba71-058fbc01cf0b', 'AE', '9128'),
 ('ce969298-7144-11e5-ba71-058fbc01cf0b', 'AE', '9469'),
 ('ce76f528-7144-11e5-ba71-058fbc01cf0b', 'AE', '9845'),
 ('ce267512-7144-11e5-ba71-058fbc01cf0b', 'AK', '99501'),
 ('ce945e92-7144-11e5-ba71-058fbc01cf0b', 'AK', '99502'),
 ('ce741718-7144-11e5-ba71-058fbc01cf0b', 'AK', '99507'),
 ('ce77149a-7144-11e5-ba71-058fbc01cf0b', 'AK', '99509'),
 ('ce95ab26-7144-11e5-ba71-058fbc01cf0b', 'AK', '99516')]

**Question 7: Write a query that outputs the total number of unique User_Guids in each combination of State and ZIP code in the United States *that have at least 5 users*, sorted first by state name in ascending alphabetical order, and second by total number of unique User_Guids in descending order (your first state/ZIP code combination should be AZ/86303).**

In [60]:
%%sql
SELECT COUNT(user_guid) as total_users, state, zip
FROM users
WHERE country = 'US'
GROUP BY state, zip
HAVING total_users >= 5
ORDER BY state ASC, total_users DESC;

 * mysql://studentuser:***@localhost/dognitiondb
377 rows affected.

[(19, 'AZ', '86303'),
 (6, 'AZ', '85718'),
 (5, 'AZ', '85750'),
 (5, 'AZ', '85749'),
 (5, 'AZ', '85032'),
 (5, 'AZ', '85260'),
 (5, 'AZ', '85711'),
 (5, 'AZ', '85253'),
 (5, 'AZ', '85254'),
 (17, 'CA', '92107'),
 (14, 'CA', '90046'),
 (14, 'CA', '92130'),
 (12, 'CA', '94107'),
 (11, 'CA', '92024'),
 (10, 'CA', '94110'),
 (10, 'CA', '92064'),
 (10, 'CA', '94114'),
 (10, 'CA', '94025'),
 (9, 'CA', '91301'),
 (9, 'CA', '94941'),
 (9, 'CA', '94611'),
 (8, 'CA', '90069'),
 (8, 'CA', '94952'),
 (8, 'CA', '90049'),
 (8, 'CA', '92071'),
 (8, 'CA', '90068'),
 (8, 'CA', '94602'),
 (8, 'CA', '90039'),
 (8, 'CA', '90266'),
 (8, 'CA', '94131'),
 (8, 'CA', '94121'),
 (7, 'CA', '90803'),
 (7, 'CA', '90278'),
 (7, 'CA', '94117'),
 (7, 'CA', '90292'),
 (7, 'CA', '92009'),
 (7, 'CA', '90291'),
 (7, 'CA', '93003'),
 (6, 'CA', '94901'),
 (6, 'CA', '95762'),
 (6, 'CA', '90036'),
 (6, 'CA', '92103'),
 (6, 'CA', '94061'),
 (6, 'CA', '90027'),
 (6, 'CA', '95014'),
 (6, 'CA', '93012'),
 (6, 'CA', '94123'),
 (6, 'CA', '90274'),
 (6, 'CA', '90277'),
 (6, 'CA', '92672'),
 (6, 'CA', '94549'),
 (6, 'CA', '94597'),
 (6, 'CA', '94062'),
 (6, 'CA', '90720'),
 (6, 'CA', '94904'),
 (6, 'CA', '94903'),
 (6, 'CA', '95008'),
 (6, 'CA', '93023'),
 (6, 'CA', '94510'),
 (6, 'CA', '90405'),
 (6, 'CA', '92101'),
 (5, 'CA', '94550'),
 (5, 'CA', '95404'),
 (5, 'CA', '90265'),
 (5, 'CA', '92656'),
 (5, 'CA', '92057'),
 (5, 'CA', '94118'),
 (5, 'CA', '95616'),
 (5, 'CA', '90026'),
 (5, 'CA', '95818'),
 (5, 'CA', '90065'),
 (5, 'CA', '94703'),
 (5, 'CA', '91942'),
 (5, 'CA', '93940'),
 (5, 'CA', '92106'),
 (5, 'CA', '92122'),
 (5, 'CA', '94706'),
 (5, 'CA', '93105'),
 (5, 'CA', '90210'),
 (5, 'CA', '94040'),
 (5, 'CA', '92886'),
 (5, 'CA', '92117'),
 (5, 'CA', '90232'),
 (5, 'CA', '92211'),
 (5, 'CA', '91001'),
 (5, 'CA', '92078'),
 (5, 'CA', '92026'),
 (5, 'CA', '90211'),
 (5, 'CA', '91406'),
 (5, 'CA', '95608'),
 (5, 'CA', '92081'),
 (5, 'CA', '95476'),
 (5, 'CA', '93561'),
 (5, 'CA', '94109'),
 (5, 'CA', '95003'),
 (5, 'CA', '95401'),
 (5, 'CA', '90025'),
 (5, 'CA', '94306'),
 (14, 'CO', '80304'),
 (11, 'CO', '80210'),
 (8, 'CO', '80403'),
 (7, 'CO', '80020'),
 (7, 'CO', '80526'),
 (7, 'CO', '80303'),
 (7, 'CO', '80227'),
 (6, 'CO', '80220'),
 (6, 'CO', '80128'),
 (5, 'CO', '80401'),
 (5, 'CO', '80021'),
 (5, 'CO', '80205'),
 (5, 'CO', '80237'),
 (5, 'CO', '80206'),
 (5, 'CO', '80134'),
 (5, 'CO', '80127'),
 (5, 'CO', '80126'),
 (8, 'CT', '6840'),
 (8, 'CT', '6880'),
 (6, 'CT', '6820'),
 (6, 'CT', '6824'),
 (5, 'CT', '6614'),
 (14, 'DC', '20009'),
 (9, 'DC', '20002'),
 (8, 'DC', '20007'),
 (7, 'DC', '20001'),
 (7, 'DC', '20016'),
 (6, 'DC', '20011'),
 (6, 'DC', '20005'),
 (5, 'DC', '20003'),
 (7, 'DE', '19958'),
 (8, 'FL', '33647'),
 (7, 'FL', '32566'),
 (6, 'FL', '33418'),
 (6, 'FL', '32312'),
 (5, 'FL', '33477'),
 (5, 'FL', '33139'),
 (5, 'FL', '34698'),
 (5, 'FL', '33312'),
 (5, 'FL', '32821'),
 (5, 'FL', '33435'),
 (5, 'FL', '33156'),
 (5, 'FL', '34134'),
 (5, 'FL', '32765'),
 (5, 'FL', '32751'),
 (7, 'GA', '30004'),
 (7, 'GA', '30067'),
 (7, 'GA', '30305'),
 (6, 'GA', '30345'),
 (5, 'GA', '30308'),
 (5, 'GA', '30328'),
 (5, 'GA', '30316'),
 (9, 'HI', '96734'),
 (9, 'ID', '83702'),
 (18, 'IL', '60614'),
 (12, 'IL', '60654'),
 (10, 'IL', '60657'),
 (9, 'IL', '60640'),
 (8, 'IL', '60613'),
 (7, 'IL', '60610'),
 (7, 'IL', '60660'),
 (6, 'IL', '60618'),
 (6, 'IL', '60647'),
 (5, 'IL', '60642'),
 (5, 'IL', '60201'),
 (5, 'IL', '60626'),
 (5, 'IL', '60093'),
 (6, 'IN', '47401'),
 (7, 'KS', '66062'),
 (5, 'KY', '41017'),
 (5, 'KY', '40222'),
 (8, 'LA', '70115'),
 (6, 'LA', '70118'),
 (8, 'MA', '2127'),
 (6, 'MA', '2129'),
 (5, 'MA', '2472'),
 (5, 'MA', '2143'),
 (5, 'MA', '2116'),
 (5, 'MA', '2130'),
 (5, 'MA', '2135'),
 (8, 'MD', '20854'),
 (8, 'MD', '20910'),
 (7, 'MD', '20817'),
 (6, 'MD', '21286'),
 (6, 'MD', '20878'),
 (5, 'MD', '21228'),
 (5, 'MD', '20852'),
 (5, 'MD', '21230'),
 (5, 'MD', '21044'),
 (5, 'MD', '20895'),
 (8, 'MI', '48103'),
 (6, 'MI', '48307'),
 (5, 'MI', '48105'),
 (6, 'MN', '55426'),
 (8, 'MO', '63139'),
 (5, 'MO', '63122'),
 (6, 'MT', '59715'),
 (105, 'N/A', 'N/A'),
 (40, 'NC', '27104'),
 (36, 'NC', '27701'),
 (27, 'NC', '27705'),
 (22, 'NC', '27707'),
 (17, 'NC', '27516'),
 (16, 'NC', '27606'),
 (13, 'NC', '27278'),
 (11, 'NC', '27517'),
 (11, 'NC', '27615'),
 (11, 'NC', '27613'),
 (11, 'NC', '27514'),
 (11, 'NC', '27617'),
 (11, 'NC', '27713'),
 (10, 'NC', '27519'),
 (9, 'NC', '27609'),
 (9, 'NC', '27539'),
 (9, 'NC', '27603'),
 (8, 'NC', '27608'),
 (7, 'NC', '28027'),
 (7, 'NC', '27587'),
 (7, 'NC', '28787'),
 (7, 'NC', '27612'),
 (7, 'NC', '27513'),
 (7, 'NC', '28270'),
 (7, 'NC', '27614'),
 (6, 'NC', '27511'),
 (6, 'NC', '27410'),
 (6, 'NC', '28374'),
 (6, 'NC', '27607'),
 (5, 'NC', '28734'),
 (5, 'NC', '27106'),
 (5, 'NC', '28205'),
 (5, 'NC', '27616'),
 (5, 'NC', '28025'),
 (5, 'NC', '28226'),
 (5, 'NC', '28277'),
 (5, 'NC', '27502'),
 (5, 'NC', '28387'),
 (5, 'NH', '3290'),
 (9, 'NJ', '7030'),
 (7, 'NJ', '7302'),
 (5, 'NJ', '8540'),
 (5, 'NJ', '8758'),
 (5, 'NJ', '7931'),
 (9, 'NM', '87111'),
 (6, 'NV', '89511'),
 (14, 'NY', '10003'),
 (13, 'NY', '10023'),
 (13, 'NY', '10024'),
 (12, 'NY', '11201'),
 (12, 'NY', '10025'),
 (11, 'NY', '10028'),
 (11, 'NY', '10016'),
 (9, 'NY', '10011'),
 (9, 'NY', '10019'),
 (9, 'NY', '11238'),
 (9, 'NY', '14850'),
 (8, 'NY', '10021'),
 (8, 'NY', '10014'),
 (7, 'NY', '10128'),
 (7, 'NY', '11249'),
 (6, 'NY', '10013'),
 (6, 'NY', '10012'),
 (6, 'NY', '11217'),
 (6, 'NY', '11211'),
 (6, 'NY', '10583'),
 (5, 'NY', '11209'),
 (5, 'NY', '10708'),
 (5, 'NY', '11222'),
 (5, 'NY', '11105'),
 (5, 'NY', '10803'),
 (5, 'NY', '10022'),
 (5, 'NY', '11215'),
 (5, 'NY', '10514'),
 (5, 'NY', '10075'),
 (5, 'NY', '10001'),
 (8, 'OH', '43214'),
 (6, 'OH', '45040'),
 (6, 'OH', '43235'),
 (5, 'OH', '45243'),
 (5, 'OH', '43068'),
 (5, 'OH', '44149'),
 (8, 'OK', '73013'),
 (5, 'OK', '73112'),
 (9, 'OR', '97229'),
 (7, 'OR', '97212'),
 (6, 'OR', '97405'),
 (6, 'OR', '97239'),
 (5, 'OR', '97215'),
 (5, 'OR', '97701'),
 (5, 'OR', '97203'),
 (5, 'OR', '97206'),
 (5, 'OR', '97702'),
 (8, 'PA', '15237'),
 (6, 'PA', '19460'),
 (6, 'PA', '19087'),
 (6, 'PA', '19147'),
 (6, 'PA', '19335'),
 (5, 'PA', '17011'),
 (5, 'PA', '15215'),
 (5, 'PA', '16052'),
 (5, 'PA', '15101'),
 (5, 'PA', '16066'),
 (14, 'SC', '29303'),
 (13, 'SC', '29464'),
 (6, 'SC', '29205'),
 (5, 'SC', '29707'),
 (5, 'SC', '29407'),
 (5, 'SC', '29455'),
 (9, 'TN', '37067'),
 (8, 'TN', '37205'),
 (7, 'TN', '37204'),
 (6, 'TN', '37027'),
 (5, 'TN', '37215'),
 (5, 'TN', '37128'),
 (10, 'TX', '78703'),
 (10, 'TX', '78750'),
 (8, 'TX', '78745'),
 (8, 'TX', '77008'),
 (7, 'TX', '77382'),
 (7, 'TX', '77007'),
 (7, 'TX', '77584'),
 (6, 'TX', '78723'),
 (6, 'TX', '75022'),
 (6, 'TX', '78704'),
 (6, 'TX', '78757'),
 (6, 'TX', '75219'),
 (6, 'TX', '77381'),
 (6, 'TX', '77546'),
 (5, 'TX', '77006'),
 (5, 'TX', '75023'),
 (5, 'TX', '78660'),
 (5, 'TX', '75025'),
 (5, 'TX', '76712'),
 (5, 'TX', '75248'),
 (5, 'TX', '75214'),
 (5, 'TX', '78748'),
 (5, 'TX', '78613'),
 (7, 'UT', '84098'),
 (5, 'UT', '84109'),
 (5, 'UT', '84093'),
 (11, 'VA', '20105'),
 (9, 'VA', '22201'),
 (9, 'VA', '20191'),
 (9, 'VA', '22903'),
 (8, 'VA', '22043'),
 (8, 'VA', '22314'),
 (7, 'VA', '23462'),
 (7, 'VA', '20147'),
 (6, 'VA', '22304'),
 (6, 'VA', '22301'),
 (6, 'VA', '22101'),
 (6, 'VA', '20120'),
 (5, 'VA', '23185'),
 (5, 'VA', '23435'),
 (5, 'VA', '20148'),
 (5, 'VA', '20170'),
 (5, 'VA', '22902'),
 (5, 'VA', '22030'),
 (5, 'VA', '22602'),
 (5, 'VA', '20176'),
 (10, 'WA', '98103'),
 (9, 'WA', '98118'),
 (9, 'WA', '98072'),
 (8, 'WA', '98102'),
 (8, 'WA', '98033'),
 (7, 'WA', '98199'),
 (7, 'WA', '98122'),
 (7, 'WA', '98225'),
 (7, 'WA', '98052'),
 (6, 'WA', '98045'),
 (6, 'WA', '98074'),
 (6, 'WA', '98115'),
 (5, 'WA', '98370'),
 (5, 'WA', '98038'),
 (5, 'WA', '98112'),
 (5, 'WA', '98106'),
 (5, 'WA', '98110'),
 (8, 'WI', '53515'),
 (5, 'WI', '53718'),
 (5, 'WI', '53213')]

<mark>**Be sure to watch the next video before beginning Exercise 6, the next set of MySQL exercises</mark>,** **and feel free to practice any other queries you wish below!**